{templateType e2221\BootstrapComponents\Pagination\PaginationTemplate}

{snippetArea paginatorArea}
    {snippet paginator}
        {import default.blocks.latte}
        {if $paginator instanceof Nette\Utils\Paginator}
            {include #"view-{$view}"}
        {/if}
    {/snippet}
{/snippetArea}

